streamlit==1.57.0
starlette==0.46.2
bertopic==0.17.4
sentence-transformers==5.6.1
huggingface-hub==1.26.0
umap-learn==0.5.12
hdbscan==0.8.44
plotly==6.9.0
pandas==2.3.3
openpyxl==3.1.5
spacy==3.8.14
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl
langdetect==1.0.9
google-play-scraper==1.2.7
scikit-learn==1.7.2
torch==2.13.0
fpdf2==2.8.7
